<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/rajma/IdeaProjects/SeleniumPracticeA2BX"><classes><class name="com.thetestingAcademy.SeleniumPracticeProgram_11Jul24.PracticeProg_1"><methods><include name="vwoLogin"/></methods></class><class name="com.thetestingAcademy.SeleniumPracticeProgram_11Jul24.PracticeProg_8"><methods><include name="testVWOLogin"/></methods></class></classes></test></suite>